{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Tipo de Tribunal</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Limite de Causas</th>
                <td>{{ entity.limitecausas }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tribunaltipo') }}">
                Regresar a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('tribunaltipo_Editar', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('tribunaltipo_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
{% endblock %}