{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}
{% block contenido %}
<h1>Estad&iacute;stica de Distribuci&oacute;n Semanal</h1>
<br/><br/>
<h2>Desde <b>{{ f_desde | date('d-m-Y') }}</b> Hasta <b>{{ f_hasta | date('d-m-Y') }}</b></h2>
    
<br/>
<table style="text-align: left; width: 100%;" class="tableCSS" cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th style="vertical-align: top;"><br>
            </th>
            <th style="vertical-align: top; text-align: center;">Lunes<br>
            </th>
            <th style="vertical-align: top; text-align: center;">Martes<br>
            </th>
            <th style="vertical-align: top; text-align: center;">Miercoles<br>
            </th>
            <th style="vertical-align: top; text-align: center;">Jueves<br>
            </th>
            <th style="vertical-align: top; text-align: center;">Viernes<br>
            </th>
        </tr>
    </thead>
    <tbody>
        
        {% for tribunal in estadisticas|keys %}
            <tr class="even">
                <td style="vertical-align: top;">Tribunal<br></td>
                <td colspan="6" rowspan="1"
                style="vertical-align: top; text-align: center;">
                   {{ tribunal | title }}
                </td>
            </tr>
                    {% for causa in estadisticas[tribunal]|keys %}
                         <tr class="odd">
                        <td style="vertical-align: top;">
                            {{ causa }}
                         </td>
                            {% for dia in estadisticas[tribunal][causa] %}
                                {% if loop.index != 1 and loop.index!=7 %}
                                    <td style="vertical-align: top;">
                                        {{ dia }}{# Otro td #}
                                    </td>
                                {% endif %}
                            {% endfor %}
                         </tr>
                    {% endfor %}
           {% endfor %} 
    </tbody>
</table>
{% endblock %}