{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Distribucion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{{ entity.actualizado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('distribucion') }}">
                Regresar a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('distribucion_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('distribucion_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
{% endblock %}