<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
    {% block titulo %}
            DEM
    {% endblock %}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<link href="{{ asset('bundles/inhack20controldistribucion/css/dcmegamenu.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/inhack20controldistribucion/css/smoothness/jquery-ui.custom.css') }}" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery.hoverIntent.minified.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery.dcmegamenu.1.3.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery-ui.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery.ui.datepicker-es.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/jquery-ui-timepicker-addon.js') }}"></script>

{# FOSJsRoutingBundle #}
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{# Mis funciones personales #}
<script type="text/javascript" src="{{ asset('bundles/inhack20controldistribucion/js/funciones.js') }}"></script>
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inhack20controldistribucion/css/layout.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inhack20controldistribucion/css/form_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inhack20controldistribucion/css/boton_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/makerlabspager/css/round.css') }}" />
    {# Estilo de tabla #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inhack20controldistribucion/css/tabla_style.css') }}" />
{% endblock %}
</head>
<body>    
    
    <div id="wrapper">
           <div id="headerwrap">
                <div id="header">
                    <p align="center">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/cabecera.jpg')}}" width="978px" height="85" align="center" />
                     </p>
                </div>
            </div>
        <div id="navigationwrap">
            <div id="navigation">
                {% block menu %}
                    {% render 'INHack20ControlDistribucionBundle:Principal:menu' %}
                {% endblock%}
            </div>
        </div>
        <div id="leftcolumnwrap">
            <div id="leftcolumn">
                <p>
                {% block menulateral %}
                    {% render 'INHack20ControlDistribucionBundle:Principal:menulateral' %}
                {% endblock  %}
                </p>
                    
            </div>
        </div>
        <div id="contentwrap">
            <div id="content">
            {% block contenido %}
                    <p>Este es el contenido</p>
                {% endblock %}
            </div>
        </div>
        <div id="footerwrap">
            <div id="footer">
                {% block pie %}
                    <p align="center">SDC
                        <span style="-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">
                                &copy;
                        </span>
                        2012 &#126 Desarrollado por: Ing. Carlos Mendoza </p>
                {% endblock  %}
            </div>
        </div>
    </div>
    
    {% block javascript %}{% endblock %}
     
    {% include 'INHack20ControlDistribucionBundle:Principal:jqueryui.html.twig' %}
</body>
</html>