{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Editar Tribunal</h1>
    <br/><br/>
    <fieldset>
         <legend>Datos</legend>
            <form action="{{ path('tribunal_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                {{ form_widget(edit_form) }}
                <br/><br/>
                <p align="center">
                    <button type="submit" class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/guardar.png') }}" width="16" height="16" alt="" />
                        Guardar Cambios</button>
                </p>
            </form>
            <form action="{{ path('tribunal_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                    <button type="submit" class="css3button" style="float: right;">
                    <img src="{{ asset('bundles/inhack20controldistribucion/images/eliminar.png') }}" width="16" height="16" alt="" />                        
                    Eliminar</button>
            </form>
    </fieldset>     
{% endblock %}