{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Lista de Tribunales</h1>
    <br/><br/>
    <table class="tableCSS">
        <thead>
            <tr>
                <th>N&deg;</th>
                <th>Nro</th>
                <th>¿Hay Despacho?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                <td>{{ loop.index }}</td>
                <td>Tribunal {{ entity.nro }} De {{ entity.tribunaltipo.nombre }}</td>
                <td>
                    {% if entity.isdespacho %}
                        <font color="green">SI</font>
                    {% else %}
                        <font color="red">NO</font>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('tribunal_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/ver.png') }}" width="24" height="24" alt="" />
                    </a>
                    <a href="{{ path('tribunal_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/editar.png') }}" width="24" height="24" alt="" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    <p align="right">
                <a href="{{ path('tribunal_new') }}"><button id="btnBuscar" class="css3button" style="min-width: 10px">
                <img src="{{ asset('bundles/inhack20controldistribucion/images/registrar.png') }}" width="16" height="16" alt="" />
                Registrar</button></a>
    </p>
{% endblock %}