<style type="text/css">
		.diagolo { font-size: 72.5%; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
                .validateTips { border: 1px solid transparent; padding: 0.3em; }
                
                
                
</style>
	<script>
	$(function() {
                
                $( "#dialog:ui-dialog" ).dialog( "destroy" );
		
		var f_desde = $( "#f_desde" ),
			f_hasta = $( "#f_hasta" ),
			allFields = $( [] ).add( f_desde ).add( f_hasta ),
			tips = $( ".validateTips" );

		function updateTips( t ) {
			tips
				.text( t )
				.addClass( "ui-state-highlight" );
			setTimeout(function() {
				tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
		}

		function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
				o.addClass( "ui-state-error" );
				updateTips( "Ingrese una fecha valida.(yyyy-mm-dd)");
				return false;
			} else {
				return true;
			}
		}
                
                //cuadro de dialogo del formulario de calendarios
                var id = "";
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 335,
			width: 350,
			modal: true,
                        show: "blind",
			//hide: "blind",
			buttons: {
				"Consultar": function() {
                                    var f_desde = $("#f_desde");
                                    var f_hasta = $("#f_hasta");
                                    var detallada = $("#"+id).attr("detallada");
                                    var idtp = $("#"+id).attr("idtp");
                                    
                                    var bValid = true;
					allFields.removeClass( "ui-state-error" );
                                        
                                    bValid = bValid && checkLength( f_desde, "Fecha Inico", 10, 10 );
                                    bValid = bValid && checkLength( f_hasta, "Fecha Fin", 10, 10 );
                                    
                                    if ( bValid ) {
                                        route = Routing.generate($("#"+id).attr("route"),{ "id" : idtp ,"f_desde" : f_desde.val(), "f_hasta" : f_hasta.val(), "detallada" : detallada });
                                        document.location.href = route;
                                        $( this ).dialog( "close" );
                                    }
                                    
                                  
				},
				Cancelar: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				
			}
		});
                
                //Dialogos
		$( ".consulta" )
			//.button()
			.click(function(e) {
                            id = $(this).attr('id');
                            $( "#dialog-form" ).dialog( "open");
			});
                        
                $( "#f_desde" ).datepicker({
                    showOn: "button",
                    buttonImage: "{{ asset('bundles/inhack20controldistribucion/images/icono_calendario.gif') }}",
                    buttonImageOnly: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: "yy-mm-dd",
                    //defaultDate: "-1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    onSelect: function( selectedDate ) {
                            $( "#f_hasta" ).datepicker( "option", "minDate", selectedDate );
                    }
		});
		$( "#f_hasta" ).datepicker({
                    showOn: "button",
                    buttonImage: "{{ asset('bundles/inhack20controldistribucion/images/icono_calendario.gif') }}",
                    buttonImageOnly: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: "yy-mm-dd",
                    //defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    onSelect: function( selectedDate ) {
                            $( "#f_desde" ).datepicker( "option", "maxDate", selectedDate );
                    }
		});
                
                //Cuadro de dialogo de mensaje
                $( "#dialog-estatus" ).dialog({
			modal: true,
                        autoOpen: true,
                        position: "top",
                        width: 600,
			buttons: {
				Cerrar: function() {
					$( this ).dialog( "close" );
				}
			}
		});
                
                //Dialogo eliminar
                $( "#dialog-eliminar" ).dialog({
                        autoOpen: false,
			resizable: true,
			height:180,
                        width: 340,
			modal: true,
			buttons: {
				Eliminar: function() {
                                        $("#frmEliminar").submit();
					$( this ).dialog( "close" );
				},
				Cancelar: function() {
					$( this ).dialog( "close" );
				}
			}
		});
                $(".eliminar").click(function(e){
                    e.preventDefault();
                        $("#dialog-eliminar").dialog("open");
                });
                
	});
</script>

<div id="dialog-form" class="diagolo" title="Consultar por fechas">
        <br/>
        <p class="validateTips" style="margin-left: 30px">Todos los campos son requeridos.</p>
	<fieldset style="margin:5%">
                <legend>Consultar</legend>
                <form>
                    <table style="margin:25px" cellspacing="5px" cellpading="5px" cellspacing="2">
                        <tr>
                            <td>
                                <label for="f_desde">Desde</label>&nbsp;&nbsp;
                            </td>
                            <td>
                                <input type="text" id="f_desde" style="position: relative " name="f_desde" class="ui-widget-content ui-corner-all" />
                                <br/><br/><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="f_hasta">Hasta</label>&nbsp;&nbsp;
                            </td>
                            <td>
                                <input type="text" id="f_hasta" name="f_hasta" class="ui-widget-content ui-corner-all" />
                            </td>
                        </tr>
                        
                    </table>
                </form>
        </fieldset>
</div>
<div id="dialog-eliminar" title="¿Confirma Eliminar Datos?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Atenci&oacute;n este registro sera eliminado permanentemente y no podra ser recuperado.
            ¿Esta seguro? - Cod. 7
        </p>
</div>
{# Mensajes de exito y error #}
{% if status is defined %}
    {% if status == EXITO_REGISTRO %}
        <div class="ui-widget">
            <div id="dialog-estatus" title="Registro Exitoso">
                <p>
                    <div class="ui-state-highlight ui-corner-all" style="margin-top: -12px; margin-bottom: -20px;padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        Se ha realizado el registro exitosamente. - Cod. {{ EXITO_REGISTRO }}</p>
                    </div>
                </p>
            </div>
        </div>
    {% elseif status == FALLO_ACTUALIZACION %}
        <div class="ui-widget">
          
            <div id="dialog-estatus" title="Fallo Actualizaci&oacute;n">
                <p>
                    <div class="ui-state-error ui-corner-all" style="margin-top: -12px; margin-bottom: -20px;padding: 0 .7em;">
                            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                            <strong>Alerta:</strong> No se pudo guardar los cambios, por favor verifique los datos. - Cod. Error {{ FALLO_ACTUALIZACION }}</p>
                    </div>
                </p>
            </div>
        </div>
    {% elseif status == EXITO_ACTUALIZACION %}
       <div id="dialog-estatus" title="Actualizaci&oacute;n Exitosa">
            <p>
                   <div class="ui-state-highlight ui-corner-all" style="margin-top: -12px; margin-bottom: -20px;padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        Se han guardado los cambios exitosamente. - Cod. {{ EXITO_ACTUALIZACION }}</p>
                    </div>
            </p>
        </div>
    {% elseif status == FALLO_REGISTRO %}
        {% set titulo = 'Error En Registro' %}
            {% if erroesDistribucion is defined and erroesDistribucion|length > 0 %}
                {% for error in erroesDistribucion %}
                    {% if error == INHIBICION_NO_PERMITIDA %}
                       {% set titulo = 'Inhibici&oacute;n No Realizada' %}
                    {% elseif error == TRIBUNAL_NO_DISPONIBLE %}
                        {% set titulo = 'Distribuci&oacute;n No Realizada' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        <div class="ui-widget">
            <div id="dialog-estatus" title="{{ titulo }}">
                <p>
                    <div class="ui-state-error ui-corner-all" style="margin-top: -12px; margin-bottom: -20px;padding: 0 .7em;">
                            <p>
                                {% if erroesDistribucion is defined and erroesDistribucion|length > 0 %}
                                    {% for error in erroesDistribucion %}
                                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                        {% if error == INHIBICION_NO_PERMITIDA %}
                                            Distribuci&oacute;n no realizada. La causa procede de los tribunales disponibles
                                            actualmente. Inhibici&oacute;n No Permitida.
                                            - Cod. Error {{ INHIBICION_NO_PERMITIDA }}
                                        {% elseif error == TRIBUNAL_NO_DISPONIBLE %}
                                            En este momento no hay ning&uacute;n tribunal disponible para despacho. Verifique la hora y el tribunal de guardia. 
                                            - Cod. Error {{ TRIBUNAL_NO_DISPONIBLE }}
                                        {% endif %}
                                        <br/><br/>
                                    {% endfor %}
                                {% else %}    
                                     <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                     <strong>Alerta:</strong> No se han guardado los datos, por favor verifiquelos. - Cod. Error {{ FALLO_REGISTRO }}
                                {% endif %}
                            </p>
                    </div>
                </p>
            </div>
        </div>
    {% endif %}
{% endif %}