<script type="text/javascript">
    $(document).ready(function($){

            $('#mega-menu').dcMegaMenu({
                    rowItems: '3',
                    speed: 'fast',
                    effect: 'fade'
            });
    });
</script>
<link href="{{ asset('bundles/inhack20controldistribucion/css/grey.css') }}" rel="stylesheet" type="text/css" />

    <div class="menu">
        <div class="grey">  
            <ul id="mega-menu" class="mega-menu">
                    <li><a href="{{ path('_bienvenido') }}">Inicio</a></li>
                    <li><a href="#">Tribunales</a>
                            <ul>
                                    {% for tipotribunal in tipoTribunales %}
                                    <li><a href="#">{{ tipotribunal.nombre }}</a>
                                        <ul>
                                                {% for causa in tipotribunal.causas %}
                                                    <li><a href="{{ path('caso_new',{ 'idCausa' : causa.id}) }}">{{ causa.nombre}}</a></li>
                                                {% endfor %}
                                        </ul>              
                                    {% endfor %}
                            </ul>
                    </li>
                <li><a href="#">Consultas</a>
                    <ul>
                        <li><a href="#">Casos</a>
                            <ul>
                                    <li><a href="{{ path('caso',{ 'fecha' : 'now' | date('Y-m-d'), 'form' : false }) }}">Diario</a></li>
                                    <li><a href="#" id="caso_semanal" class="consulta" value="1" route="caso" >Semanal</a></li>
                                    <li><a href="{{ path('caso',{'form' : true}) }}">Todos</a></li>
                            </ul>
                        </li>
                         {% for tipotribunal in tipoTribunales %}
                        <li><a href="#">Estadistica {{ tipotribunal.nombre }}</a>
                                 <ul>
                                    <li><a href="{{ path('distribucion_estadistica_diaria', { 'id' : tipotribunal.id }) }}">Diaria</a></li>
                                    <li><a href="{{ path('distribucion_estadistica_diaria', { 'id' : tipotribunal.id, 'detallada' : true }) }}">Diaria(Detallada)</a></li>
                                    <li><a href="#" id="distribucion_semanal_{{ loop.index }}" class="consulta" idtp="{{ tipotribunal.id }}" detallada="0" route="distribucion_estadistica_semanal" >Semanal</a></li>
                                    <li><a href="#" id="distribucion_semanal_detalalda_{{ loop.index }}" class="consulta" idtp="{{ tipotribunal.id }}" route="distribucion_estadistica_semanal" detallada="1" >Semanal(Detallada)</a></li>
                                </ul>
                          </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Configuraci&oacute;n</a>
                    <ul>
                        <li><a href="{{ path('tribunal') }}">Tribunales</a></li>
                        <li><a href="{{ path('tribunaltipo') }}">Tipos de Tribunales</a></li>
                        <li><a href="{{ path('causa') }}">Causas</a></li>
                        <li><a href="{{ path('fiscalia') }}">Fiscalias</a></li>
                        <li><a href="{{ path('horario') }}">Horarios</a></li>
                        <li><a href="{{ path('grupo') }}">Grupos de Horarios</a></li>
                    </ul>
                </li>
                <li><a href="#">Usuario</a>
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}">Mis Datos</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Cambiar contrase&ntilde;a</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Registrar Usuario</a></li>
                        <li><a href="{{ path('fos_user_lista_usuarios') }}">Administrar Usuarios</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Cerrar Sesi&oacute;n</a></li>
                    </ul>
                </li>
            </ul>
                
                
        </div>
        
            
    </div>
<div class="reloj">
        <div id="hora"></div>
        <script>
            var Digital=new Date('{{ "now"|date('d M Y G:i:s') }}');
            function show(){
                var hours=Digital.getHours();
                var minutes=Digital.getMinutes();
                var seconds=Digital.getSeconds();
                var dn="AM";
                if (hours>12){
                    dn="PM";
                    hours=hours-12;
                }
                if (hours==0)
                    hours=12;
                if (minutes<=9)
                    minutes="0"+minutes;
                if (seconds<=9)
                    seconds="0"+seconds;
                document.getElementById('hora').innerHTML="Hora: "+hours+":"+minutes+":"+seconds+" "+dn;
                Digital.setSeconds(Digital.getSeconds()+1);
                    setTimeout("show()",1000)
                }
        show();
        </script>
</div>