<ul>
    <li>
        <a href="{{ path('_bienvenido') }}">Inicio</a>
    </li>
</ul>
{% for tipotribunal in tipoTribunales %}
     <ul>{{ tipotribunal.nombre }}
             {% for causa in tipotribunal.causas %}
                 <li><a href="{{ path('caso_new',{ 'idCausa' : causa.id}) }}">ID = {{ causa.id }} {{ causa.nombre}}</a></li>
             {% endfor %}
     </ul>              
{% endfor %}