{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Horario</h1>
    <br/><br/>
    <table class="tableCSS" style="width: auto">
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>Id</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="even">
                <td>Dias</td>
                <td>{{ entity.dias }}</td>
            </tr>
            <tr class="odd">
                <td>Hora de Inicio</td>
                <td>{{ entity.horaInicio|date('h:i a') }}</td>
            </tr>
            <tr class="even">
                <td>Hora de Cierre</td>
                <td>{{ entity.horaFin|date('h:i a') }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    <br/><br/>
    <table>
        <tr>
            <td>
                <a href="{{ path('horario_edit',{'id' : entity.id }) }}">
                    <button class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/editar.png') }}" width="16" height="16" alt="" />
                        Editar
                    </button>
                </a>
                    &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <form id="frmEliminar" action="{{ path('horario_delete', { 'id': entity.id }) }}" method="post">
                        <button class="css3button eliminar">
                            <img src="{{ asset('bundles/inhack20controldistribucion/images/eliminar.png') }}" width="16" height="16" alt="" />
                            Eliminar
                        </button>
                     {{ form_widget(delete_form) }}
                </form>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
{% endblock %}