{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Horario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dias</th>
                <td>{{ entity.dias }}</td>
            </tr>
            <tr>
                <th>Hora de Inicio</th>
                <td>{{ entity.horaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Hora de Cierre</th>
                <td>{{ entity.horaFin|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('horario') }}">
                Regresar a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('horario_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('horario_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
{% endblock %}