{% form_theme formBuscar 'INHack20ControlDistribucionBundle:Form:fields.html.twig' %}
<form id="formBuscar" action="{{ path('caso') }}" method="post" {{ form_enctype(formBuscar) }}>
        <div style="min-height: 100px;"> 
            <table style="text-align: left;" border="1" cellpadding="2"
                        cellspacing="2">
                <tbody>
            {{ form_row(formBuscar.fecha, { 'class' : '0' }) }}
            {{ form_row(formBuscar.id, { 'class' : '1' }) }}
            {{ form_row(formBuscar.tribunal, { 'class' : '2' }) }}
            {{ form_row(formBuscar.tribunaltipo, { 'class' : '3' }) }}
            {{ form_row(formBuscar.causa, { 'class' : '4' }) }}
            {{ form_row(formBuscar.nroAsuntoFiscal, { 'class' : '5' }) }}
            {{ form_row(formBuscar.nroOficioFiscal, { 'class' : '6' }) }}
            {{ form_row(formBuscar.nombreImputado, { 'class' : '7' }) }}
            {{ form_row(formBuscar.nombreVictima, { 'class' : '8' }) }}
            {{ form_row(formBuscar.acusacionPrivada, { 'class' : '9' }) }}
            {{ form_row(formBuscar.horaInicio, { 'class' : '10' }) }}
            {{ form_row(formBuscar.horaFin, { 'class' : '11' }) }}
            {{ form_rest(formBuscar) }}    
                    </tbody></table>
        </div>
        
            <br/>
            <p align="right">
                <button id="btnBuscar" class="css3button" style="min-width: 10px">
                <img src="{{ asset('bundles/inhack20controldistribucion/images/buscar.png') }}" width="16" height="16" alt="" />
                Buscar</button>
            </p>        
</form>
<script type="text/javascript">
        $(document).ready(function(){
                    var options = { 
                        target:        '#result-busqueda',   // target element(s) to be updated with server response 
                        //beforeSubmit:  cargando,  // pre-submit callback 
                        //success:       listoCargado  // post-submit callback 
                    }; 
                    $("#formBuscar").ajaxForm(options);
                    function ocultar(){
                        $(".busqueda").hide(0);
                    }
                    function limpiar(){
                        $(".busqueda input").attr("value","");
                        $(".busqueda select").attr("value","");
                    }
                    
                    $(".check").change(function(){
                        if($(this).attr('checked')=='checked'){
                            $('.'+$(this).attr('value')).removeAttr('disabled');
                        }
                        else{
                            $('.'+$(this).attr('value')).attr('disabled','disabled');
                        }
                    });
                    
            //Campos del formulario
            $("#form_fecha").datepicker();
            $("#form_horaInicio").datetimepicker({
                ampm: true,
                dateFormat : 'yy-mm-dd',
                timeOnlyTitle: 'Tiempo',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minutos',
                secondText: 'Segundos',
                currentText: 'Ahora',
                closeText: 'Listo'
            });
            $("#form_horaFin").datetimepicker({
                ampm: true,
                dateFormat : 'yy-mm-dd',
                timeOnlyTitle: 'Tiempo',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minutos',
                secondText: 'Segundos',
                currentText: 'Ahora',
                closeText: 'Listo'
            });
        });
    </script>
    <style type="text/css">
            table#form tbody th, tbody td {
                text-align: left;
               }
    </style>