{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Caso list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fiscaliaprocedencia</th>
                <th>Nrocausafiscal</th>
                <th>Nrooficiofiscal</th>
                <th>Nombreimputado</th>
                <th>Nombrevictima</th>
                <th>Pieza</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fiscalia.nombre }}</td>
                <td>{{ entity.nroAsuntoFiscal }}</td>
                <td>{{ entity.nroOficioFiscal }}</td>
                <td>{{ entity.nombreImputado }}</td>
                <td>{{ entity.nombreVictima }}</td>
                <td>{{ entity.pieza }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('caso_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('caso_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('caso_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}