{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Casos</h1>

    <table class="records_Lista de ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Procedencia</th>
                <th>N&deg; Asutno Fiscal</th>
                <th>N&deg; Oficio Fiscal</th>
                <th>Nombre del Imputado</th>
                <th>Nombre de la Victima</th>
                <th>Pieza</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caso_Ver', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>Fiscalia{{ entity.fiscalia.nombre }}</td>
                <td>{{ entity.nroAsuntoFiscal }}</td>
                <td>{{ entity.nroOficioFiscal }}</td>
                <td>{{ entity.nombreImputado }}</td>
                <td>{{ entity.nombreVictima }}</td>
                <td>{{ entity.pieza }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('caso_Ver', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('caso_Editar', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}