{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}
{% block contenido %}
    <h1>Registro de Caso</h1>
    <br/><br/>
    {% if erroesDistribucion is defined and erroesDistribucion|length > 0 %}
        {% for error in erroesDistribucion %}
            <font color="red">{{ error }}</font><br/><br/>
        {% endfor%}
        <br/>
    {% endif %}
    <fieldset>
        <legend>Informaci&oacute;n</legend>
        <b style="text-transform: uppercase;">
            Destino: Tribunal de {{ causa.tribunaltipo.nombre }}<br/><br/>
            Causa: {{ causa.nombre }}
            {% if app.request.attributes.get('_route') == 'caso_new_inhibir' %}
             Por Inhibici&oacute;n
            {% endif%}
        </b> 
    </fieldset>
    <br/><br/><br/>
    <fieldset>
         <legend>Datos</legend>
            <form action="{{ path(route,parametros) }}" method="post" {{ form_enctype(form) }}>

                    <br/><br/>            
                    <table style="text-align: left;" border="1" cellpadding="2"
                        cellspacing="2">
                        <tbody>
                            {{ form_row(form.procedencia) }}
                            {{ form_row(form.estado) }}
                            {{ form_row(form.fiscalia) }}
                            {{ form_row(form.procedenciaTribunal) }}
                            {{ form_row(form.acusacionPrivada) }}
                            {{ form_row(form.nroAsuntoFiscal) }}
                                <tr>
                                    <td>
                                        {{ form_label(form.nroOficioFiscal) }}

                                    </td>
                                    <td>
                                        {{ form_widget(form.nroOficioFiscal) }}
                                        {{ form_errors(form.nroOficioFiscal) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.nroOficioDesconocido) }}
                                        {{ form_widget(form.nroOficioDesconocido) }}
                                        {{ form_errors(form.nroOficioDesconocido) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.nombreImputado) }}

                                    </td>
                                    <td>
                                        {{ form_widget(form.nombreImputado) }}
                                        {{ form_errors(form.nombreImputado) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.nombreImputadoDesconocido) }}
                                        {{ form_widget(form.nombreImputadoDesconocido) }}
                                        {{ form_errors(form.nombreImputadoDesconocido) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_label(form.nombreVictima) }}

                                    </td>
                                    <td>
                                        {{ form_widget(form.nombreVictima) }}
                                        {{ form_errors(form.nombreVictima) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.nombreVictimaDesconocido) }}
                                        {{ form_widget(form.nombreVictimaDesconocido) }}
                                        {{ form_errors(form.nombreVictimaDesconocido) }}
                                    </td>
                                </tr>
                            {{ form_row(form.pieza) }}
                        </tbody>
                    </table>

                    {{ form_rest(form) }}
                    <br/><br/>
                    <p align="center">
                        <button type="submit" class="css3button">Registrar</button>
                    </p>

            </form>
    </fieldset>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        var desconocido = "desconocido";
        var acusacionPrivada = "privada";
        
        $("#inhack20_controldistribucionbundle_casotype_acusacionPrivada").click(function(){
            var v = $(this).attr('checked')
            if(v == 'checked'){
                $("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").attr("value",acusacionPrivada);
                $("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").attr("readonly","readonly");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("value",acusacionPrivada);
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("readonly","readonly");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").attr("disabled","disabled");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").removeAttr("checked");
            }
            else
            {
                $("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").attr("value","");
                $("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").removeAttr("readonly");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("value","");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").removeAttr("readonly");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").removeAttr("disabled");
            }
        });
        
        $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").click(function(){
            var v = $(this).attr('checked');
            if(v == "checked"){
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("value",desconocido);
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("readonly","readonly");
                }
            else
            {
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("value","");
                $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").removeAttr("readonly");
            }
        });
        $("#inhack20_controldistribucionbundle_casotype_nombreImputadoDesconocido").click(function(){
            var v = $(this).attr('checked');
            if(v=="checked"){
                $("#inhack20_controldistribucionbundle_casotype_nombreImputado").attr("value",desconocido);
                $("#inhack20_controldistribucionbundle_casotype_nombreImputado").attr("readonly","readonly");
                }
            else
            {
                $("#inhack20_controldistribucionbundle_casotype_nombreImputado").attr("value","");
                $("#inhack20_controldistribucionbundle_casotype_nombreImputado").removeAttr("readonly");
            }
        });
        $("#inhack20_controldistribucionbundle_casotype_nombreVictimaDesconocido").click(function(){
            var v = $(this).attr('checked');
            if(v=="checked"){
                $("#inhack20_controldistribucionbundle_casotype_nombreVictima").attr("value",desconocido);
                $("#inhack20_controldistribucionbundle_casotype_nombreVictima").attr("readonly","readonly");
                }
            else
            {
                $("#inhack20_controldistribucionbundle_casotype_nombreVictima").attr("value","");
                $("#inhack20_controldistribucionbundle_casotype_nombreVictima").removeAttr("readonly");
            }
        });
        
        if($("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").attr("value") == acusacionPrivada)
        {
            $("#inhack20_controldistribucionbundle_casotype_acusacionPrivada").attr("checked","checked");
            $("#inhack20_controldistribucionbundle_casotype_nroAsuntoFiscal").attr("readonly","readonly");
            $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("readonly","readonly");
            $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").attr("disabled","disabled");
            $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").removeAttr("checked");
        }
        
        if($("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("value") == desconocido){
            $("#inhack20_controldistribucionbundle_casotype_nroOficioDesconocido").attr("checked","checked");
            $("#inhack20_controldistribucionbundle_casotype_nroOficioFiscal").attr("readonly","readonly");
        }

        if($("#inhack20_controldistribucionbundle_casotype_nombreImputado").attr("value") == desconocido){
            $("#inhack20_controldistribucionbundle_casotype_nombreImputadoDesconocido").attr("checked","checked");
            $("#inhack20_controldistribucionbundle_casotype_nombreImputado").attr("readonly","readonly");
        }

        if($("#inhack20_controldistribucionbundle_casotype_nombreVictima").attr("value") == desconocido){
            $("#inhack20_controldistribucionbundle_casotype_nombreVictimaDesconocido").attr("checked","checked");
            $("#inhack20_controldistribucionbundle_casotype_nombreVictima").attr("readonly","readonly");
        }
        $("#inhack20_controldistribucionbundle_casotype_procedencia").change(function(){
            if($(this).val() == "fiscalia"){
                $("#inhack20_controldistribucionbundle_casotype_estado").removeAttr("disabled");
                $("#inhack20_controldistribucionbundle_casotype_fiscalia").removeAttr("disabled");
                $("#inhack20_controldistribucionbundle_casotype_procedenciaTribunal").attr("disabled","disabled");
            }
            else if($(this).val() == "tribunal"){
                $("#inhack20_controldistribucionbundle_casotype_procedenciaTribunal").removeAttr("disabled");
                $("#inhack20_controldistribucionbundle_casotype_estado").attr("disabled","disabled");
                $("#inhack20_controldistribucionbundle_casotype_fiscalia").attr("disabled","disabled");
            }
            else{
                $("#inhack20_controldistribucionbundle_casotype_procedenciaTribunal").attr("disabled","disabled");
                $("#inhack20_controldistribucionbundle_casotype_estado").attr("disabled","disabled");
                $("#inhack20_controldistribucionbundle_casotype_fiscalia").attr("disabled","disabled");
            }
        });
        
        $("#inhack20_controldistribucionbundle_casotype_procedenciaTribunal").attr("disabled","disabled");
        $("#inhack20_controldistribucionbundle_casotype_estado").attr("disabled","disabled");
        $("#inhack20_controldistribucionbundle_casotype_fiscalia").attr("disabled","disabled");
        //Consulta JSON
        $("#inhack20_controldistribucionbundle_casotype_estado").change(function(){
            var estado = $("#inhack20_controldistribucionbundle_casotype_estado").val();
            if(estado != ''){
                var ruta = Routing.generate('fiscalia_lista',{'idEstado' : estado});
                $.getJSON(ruta,function(data){
                    $("#inhack20_controldistribucionbundle_casotype_fiscalia").find("option").remove().end().append("<option value=''>Seleccione</option>");
                    $.each(data,function(index,value){
                        $("#inhack20_controldistribucionbundle_casotype_fiscalia")
                        .append("<option value='"+data[index]['id']+"'>"+data[index]['nombre']+"</option>");
                    });
                });
            }
        });
        
        var fiscalia = {% if entity.fiscalia %}'fiscalia'{% else %}null{% endif %};
        var tribunal = {% if entity.procedenciaTribunal %}'tribunal'{% else %}null{% endif %};
        $("#inhack20_controldistribucionbundle_casotype_procedencia option").each(function(){
            if($(this).val() == fiscalia && fiscalia != null){
                $(this).attr("selected","selected");
                $("#inhack20_controldistribucionbundle_casotype_fiscalia").removeAttr("disabled");
                $("#inhack20_controldistribucionbundle_casotype_estado").removeAttr("disabled");
            }
            if($(this).val() == tribunal && tribunal != null){
                $(this).attr("selected","selected");
                $("#inhack20_controldistribucionbundle_casotype_procedenciaTribunal").removeAttr("disabled");
            }
        });
        
    });        
</script>
{% endblock %}