{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Caso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Procedencia</th>
                <td>{{ entity.fiscalia.nombre }}</td>
            </tr>
            <tr>
                <th>N&deg; Asunto Fiscal</th>
                <td>{{ entity.nroAsuntoFiscal }}</td>
            </tr>
            <tr>
                <th>N&deg; Oficio Fiscal</th>
                <td>{{ entity.nroOficioFiscal }}</td>
            </tr>
            <tr>
                <th>Nombre del Imputado</th>
                <td>{{ entity.nombreImputado }}</td>
            </tr>
            <tr>
                <th>Nombre de la Victima</th>
                <td>{{ entity.nombreVictima }}</td>
            </tr>
            <tr>
                <th>Pieza</th>
                <td>{{ entity.pieza }}</td>
            </tr>
            <tr>
                <th>Tribunal Asignado</th>
                <td>{{ entity.distribucion.tribunal.nro }} de {{ entity.distribucion.tribunal.tribunaltipo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('caso_comprobante',{'idCaso' : entity.id }) }}">
                Ver Comprobante
            </a>
        </li>
        <li>
            <a href="{{ path('caso') }}">
                Regresar a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('caso_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('caso_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}
