{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Caso</h1>
    <br/><br/>
    <table class="tableCSS" style="width: auto">
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr class="even">
                <td>N&deg; Control Interno</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="odd">
                <td>Procedencia</td>
                <td>
                    {% if entity.fiscalia %}{{ entity.fiscalia.nombre }}{% endif %}
                    {% if entity.procedenciaTribunal %}{{ entity.procedenciaTribunal.descripcion | title }}{% endif %}
                </td>
            </tr>
            <tr class="even">
                <td>¿Acusaci&oacute;n Privada?</td>
                <td>{% if entity.isAcusacionPrivada %}SI{% else %}NO{% endif %}</td>
            </tr>
            <tr class="odd">
                <td>N&deg; Causa</td>
                <td>{{ entity.nroAsuntoFiscal }}</td>
            </tr>
            <tr class="even">
                <td>N&deg; Oficio</td>
                <td>{{ entity.nroOficioFiscal }}</td>
            </tr>
            <tr class="odd">
                <td>Nombre del Imputado</td>
                <td>{{ entity.nombreImputado }}</td>
            </tr>
            <tr class="even">
                <td>Nombre de la Victima</td>
                <td>{{ entity.nombreVictima }}</td>
            </tr>
            <tr class="odd">
                <td>Pieza</td>
                <td>{{ entity.pieza }}</td>
            </tr>
            <tr class="even">
                <td>Tribunal Asignado</td>
                <td>{{ entity.distribucion.tribunal.descripcion | title }}</td>
            </tr>
            <tr class="odd">
                <td>Dia de Registro</td>
                <td>{{ entity.creado | date('d-m-Y')}}</td>
            </tr>
            <tr class="even">
                <td>Hora de Registro</td>
                <td>{{ entity.creado | date('h:i a')}}</td>
            </tr>
            <tr class="odd">
                <td>Inhibici&oacute;n</td>
                <td>{% if entity.inhibicion %}
                        <a href="{{ path('caso_show',{ 'id' : entity.inhibicion.id }) }}">{{ entity.inhibicion.nroAsuntoFiscal}}</a>
                    {% else %}
                        <a href="{{ path('caso_new_inhibir', { 'idCaso': entity.id}) }}">
                        Inhibir Caso
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr class="even">
                <td>Usuario</td>
                <td>{% if entity.usuario %}{{ entity.usuario.nombre ~ ' ' ~ entity.usuario.apellido }}{% endif %}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    <br/><br/>
    <table>
        <tr>
            <td>
                <a href="{{ path('caso_comprobante',{'idCaso' : entity.id }) }}">
                    <button class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/pdf.png') }}" width="16" height="16" alt="" />
                        Ver Comprobante
                    </button>
                </a>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                <a href="{{ path('caso_edit',{'id' : entity.id }) }}">
                    <button class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/editar.png') }}" width="16" height="16" alt="" />
                        Editar
                    </button>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
