{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Caso</h1>
    <br/><br/>
    <table class="tableCSS" style="width: auto">
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr class="even">
                <td>N&deg; Control Interno</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="odd">
                <td>Procedencia</td>
                <td>{{ entity.fiscalia.nombre }}</td>
            </tr>
            <tr class="even">
                <td>N&deg; Asunto Fiscal</td>
                <td>{{ entity.nroAsuntoFiscal }}</td>
            </tr>
            <tr class="odd">
                <td>N&deg; Oficio Fiscal</td>
                <td>{{ entity.nroOficioFiscal }}</td>
            </tr>
            <tr class="even">
                <td>Nombre del Imputado</td>
                <td>{{ entity.nombreImputado }}</td>
            </tr>
            <tr class="odd">
                <td>Nombre de la Victima</td>
                <td>{{ entity.nombreVictima }}</td>
            </tr>
            <tr class="even">
                <td>Pieza</td>
                <td>{{ entity.pieza }}</td>
            </tr>
            <tr class="odd">
                <td>Tribunal Asignado</td>
                <td>{{ entity.distribucion.tribunal.descripcion | title }}</td>
            </tr>
            <tr class="even">
                <td>Dia de Registro</td>
                <td>{{ entity.creado | date('d-m-Y')}}</td>
            </tr>
            <tr class="odd">
                <td>Hora de Registro</td>
                <td>{{ entity.creado | date('h:i a')}}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    <br/><br/>
    <table>
        <tr>
            <td>
                <a href="{{ path('caso_comprobante',{'idCaso' : entity.id }) }}">
                    <button class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/pdf.png') }}" width="16" height="16" alt="" />
                        Ver Comprobante
                    </button>
                </a>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                <a href="{{ path('caso_edit',{'id' : entity.id }) }}">
                    <button class="css3button">
                        <img src="{{ asset('bundles/inhack20controldistribucion/images/editar.png') }}" width="16" height="16" alt="" />
                        Editar
                    </button>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
